# C/C++
*.a

# Binaries
visualizer/src/visualizer_main
visualizer/test/visualizer_tests

# CMake template from: https://raw.githubusercontent.com/github/gitignore/master/CMake.gitignore
cmake-build-*/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeScripts
compile_commands.json
CTestTestfile.cmake
_deps
install_manifest.txt
Makefile
Testing

vcpkg_installed
